$color-white:#ffffff;
$color-white-rgb-light: rgba(255, 255, 255, 0.8);
$color-black-dark2:rgba(0, 0, 0, 0.4);
$color-white-rgb: rgba(255, 255, 255, 1) ;


$color-black-light: rgba(45 49 58 / 10%);
$color-black-dark1:rgba(0 0 0 / 10%);
$color-blue-dark: #1f256e;
$color-purple-dark: #605b75a6;
$color-maroon: #4b4040;
$color-gray:#74768f;

$color-body-background1: #2a5c9f;
$color-body-background2:#476ea7;
$color-body-background3:#6180ae;
$color-body-background4:#7a92b4;
$color-body-background5 :#93a4bb;
$color-body-background6:#9cacc1;
$color-body-background7:#a6b4c8;
$color-body-background8:#afbcce;
$color-body-background9:#aabcd6;
$color-body-backgrounda:#a4bcde;
$color-body-backgroundb:#9fbbe5;
$color-body-backgroundc:#9abbed;



