* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: linear-gradient(
    to right bottom,
    #2a5c9f,
    #476ea7,
    #6180ae,
    #7a92b4,
    #93a4bb,
    #9cacc1,
    #a6b4c8,
    #afbcce,
    #aabcd6,
    #a4bcde,
    #9fbbe5,
    #9abbed
  );
  background-repeat: no-repeat;
}
main {
  /* background-image: linear-gradient(to right bottom, #2a5c9f, #476ea7, #6180ae, #7a92b4, #93a4bb, #9cacc1, #a6b4c8, #afbcce, #aabcd6, #a4bcde, #9fbbe5, #9abbed); */
  height: 100vh;
  color: #ffffff;
}
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 3% 0 3%;
  height: 60vh;
  justify-content: space-between;
}
.weather-input__section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.weather-input {
  
  border-radius: 7px;
  padding: 1% 8%;
  border: none;
  /* background-image: linear-gradient(
    to right,
    rgba(207, 199, 199,0.1),
    rgba(207, 199, 199,0.1)
  ); */
  /* background-image: linear-gradient(
    to right,
    rgb(80 75 75 / 10%),
    rgb(80 75 75 / 10%)
  ); */
  background-image: linear-gradient(
    to right,
    rgb(45 49 58 / 10%),
    rgb(0 0 0 / 10%)
  );
  /* background-color: rgba(255, 255, 255, 0.5); */
  position: relative;
  transition: all 0.5s ease; /* Geçiş efekti */

}

.weather-input:focus::placeholder {
  transform: translateY(20px);
  opacity: 0; /* Kullanıcı giriş yapmaya başladığında placeholder kaybolur */
  transition: opacity 0.5s ease, transform 0.5s ease; ; /* Geçiş efekti */
}
.weather-input:focus {
  outline: none;
}
.weather-input::placeholder {
  color: #1f256e;
  opacity: 1;
  font-size: 12px;
  letter-spacing: 2px;
}
.search {
  position: absolute;
  text-align: center;
  padding-right: 2%;
  color: #1f256e;
  cursor: pointer;
}
.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  width: 50%;
  text-align: center;
}
.weather-content__location {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
}
.location-icon {
  font-size: 35px;
  padding-right: 2%;
}
.primary-title {
  font-size: 22px;
  letter-spacing: 2px;
}
.weather-content__state {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 5% 0;
}
.state__value-deg {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}
.state__value{
  font-size: 58px;
}
.state__icon {
  font-size: 50px;
  margin-left: 7%;
}

.weather-content__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(
    to right,
    rgb(45 49 58 / 10%),
    rgb(0 0 0 / 10%)
  );
  letter-spacing: 1.3px;
  width: 60%;
  border-radius: 7px;
}
.info__tempatures {
}
.info__humidity {
}
.info__wind {
}
.forecasts {
  display: flex;
  height: 22vh;
  margin-top: 5%;
  background-image: linear-gradient(
    to right,
    rgb(45 49 58 / 10%),
    rgb(0 0 0 / 10%)
  );
}
.forecasts_days {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forecasts__date {
}
.forecasts-info {
  display: flex;
  width: 22%;
  justify-content: space-between;
  /* font-size: 20px; */
}
.forecasts-icon {
  font-size: 35px;
  margin: 4% 0;
}
.forecasts-info__tempatures {
}
.forecasts-info__humidity {
}



/* content sıcakık nem ruzgar 
alttakı sıaklık 23 degissi ygamur bulut state i yazsın
saat ekle
ulke ekleyebilirsi

tarih guncel gelsın
input u ayarla
*/